header {
    .headerTop {
        div > svg {
            width: 20;
            height: 20;
            margin-right: 16px;
        }
    }
    .headerBottom {
        div > svg {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
        button > svg {
            width: 15.74972915649414;
            height: 15.750177383422852;
        }
    }
}
