@import "tailwindcss";


@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.btn-loop {
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  gap: 10px;
  border-radius: 10px;
  background: #0063B0;
  color: white;
}

.btn-loop:hover {
  opacity: 0.5;
}

.btn-primary {
  background-color: #0063B0;
  border-radius: 10px;
  /* padding: 10px 25px; */
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

.btn:hover {
  opacity: 0.8;
}

a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  opacity: 0.3;
}

input:hover {
  opacity: 1;
}

ul {
  list-style: url(../../public/imgs/Rectangle\ 31.svg);
}

ul li {
  padding-left: 15px;
  height: 24px;
  margin-bottom: 15px;
  margin-left: 15px;
}

ul li::marker {
  height: 8px;
  width: 8px;
}

body {
  font-family: var(--font-stolzl);
}

h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  display: inline;
}

.arrow-link {
  display: flex;
  align-items: center;
  height: 36px;
}

.arrow-link>svg {
  margin-left: 25px;
}