@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.btn-loop {
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  gap: 10px;
  border-radius: 10px;
  background: #0063B0;
  color: white;
}

.btn-loop:hover {
  opacity: 0.5;
}

input {
  opacity: 0.3;
}

input:hover {
  opacity: 1;
}

body {}